.timer {
    display: flex;
    gap: 25px;
  }
  .field {
    text-align: center;
  }
  .value {
    font-size: 2rem;
    font-weight: bold;
  }
  .label {
    font-size: 1rem;
    color: gray;
  }

.picker-btn {
text-align: left;
}

